<div class="centered-search-form">
  <div class="search-container">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
      data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="input-container">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'neomorphic-input' } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'neomorphic-input' } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "new-password", class: 'neomorphic-input' } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: 'neomorphic-input' } %>
      </div>

      <div class="form-actions">
        <%= f.button :button, "Sign up", class: "neomorphic-button btn btn-primary", id: "signup-button" %>
      </div>
    <% end %>

  </div>
</div>
