<h1><%= @flat.address %></h1>

<%= cl_image_tag @flat.photo.key, width: 400, height: 300, crop: :fill if @flat.photo.key %>

<%= simple_form_for [@flat, Booking.new], url: flat_bookings_path(@flat) do |f| %>
  <%= f.input :flat_id, as: :hidden, input_html: { value: @flat.id } %>
  <%= f.input :start_date, as: :date, label: 'Start Date' %>
  <%= f.input :end_date, as: :date, label: 'End Date' %>
  <%= f.button :submit, "Book Now" %>
<% end %>


<h2>Reviews for <%= @flat.address %>:</h2>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.content %>
    </li>
  <% end %>
</ul>


<% if current_user && @flat.bookings.where(user: current_user).exists? %>
  <% booking = @flat.bookings.where(user: current_user).last %>
  <% unless booking.review %>
    <%= link_to "Leave a Review", new_flat_booking_review_path(@flat, booking) %>
  <% end %>
<% end %>
