<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-md-8">
      <%= cl_image_tag @flat.photo.key, :cloud_name => "dll73yhjm", width: 400, height: 300, crop: :fill, class: "rounded" if @flat.photo.key %>
      <h2><%= @flat.address %></h2>
      <p><%= @flat.description %></p>

      <% if @flat.reviews.any? %>
        <p>Average Rating: <%= @flat.average_rating.round(2) %> out of 5</p>
      <% else %>
        <p>No reviews yet.</p>
      <% end %>

      <h2>Reviews for <%= @flat.address %>:</h2>
      <% @reviews.each do |review| %>
        <div class="review">
          <p><strong>Rating:</strong> <%= review.rating || "No rating provided" %> out of 5</p>
          <p><%= review.content %></p>
        </div>
      <% end %>

      <% if current_user && @flat.bookings.where(user: current_user).exists? %>
        <% booking = @flat.bookings.where(user: current_user).last %>
        <% unless booking.review %>
          <%= link_to "Leave a Review", new_flat_booking_review_path(@flat, booking) %>
        <% end %>
      <% end %>

    </div>
    <div class="col-6 col-md-4  mt-3">
      <div class="form-group">
        <%= simple_form_for [@flat, Booking.new], url: flat_bookings_path(@flat) do |f| %>
          <%= f.input :flat_id, as: :hidden, input_html: { value: @flat.id } %>
          <%= f.input :start_date, as: :date, label: 'Start Date' %>
          <%= f.input :end_date, as: :date, label: 'End Date' %>
          <p><i class="fa-solid fa-sterling-sign"></i> <%= @flat.price %></p>
          <p><i class="fa-sharp fa-solid fa-user"></i> <%= @flat.capacity %></p>
          <%= f.button :submit, "Book Now", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
