<h1>New Booking</h1>

<%= form_with(model: [@flat, @booking], method: :post) do |form| %>

  <%= form.label :start_date %>
  <%= form.date_field :start_date %>

  <%= form.label :end_date %>
  <%= form.date_field :end_date %>

  <%= form.submit "Create Booking" %>
<% end %>
