<h1>new booking</h1>

<%= simple_form_for [@flat, @booking], url: flat_bookings_path(@flat) do |f| %>
  <%= f.input :start_date, as: :date, label: 'Start Date' %>
  <%= f.input :end_date, as: :date, label: 'End Date' %>
  <%= f.button :submit, "Create Booking" %>
<% end %>

<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
