<h1>New Booking</h1>

<%= simple_form_for [@flat, @booking], url: flat_bookings_path(@flat) do |f| %>
  <%= f.input :start_date, as: :date, label: 'Start Date' %>
  <%= f.input :end_date, as: :date, label: 'End Date' %>
  <%= f.button :submit, "Create Booking" %>
<% end %>

<%= flat_bookings_path(@flat) %>
